<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="personal.simulateui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--        提供给另一个进程用来绑定的service-->
        <service
            android:name=".service.AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.personalAction" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.AidlActivity" />
        <activity android:name=".ui.LaucherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AllAppActivity" />
        <activity android:name=".ui.ServicesRemindActivity" />
        <activity android:name=".ui.ChatActivity" />
        <activity android:name=".ui.RegionsActivity" />
    </application>

</manifest>